@media (min-width:992px){
	section {
		width: 30%;
		position: relative;
		left: 3%;
	}

	h2 {
		position: relative;
		left: 70%;
	}

}

@media (min-width:768px) and (max-width:991px){
	section {
		position: relative;
		left: 3%;
	}

	#left, #center {
		width: 45%;
	}

	#right {
		width: 90%;
	}

	h2 {
		position: relative;
		left: 70%;
	}

}

@media (max-width:767px){
	section {
		width: 90%;
		position: relative;
		left: 3%;
	}

	h2 {
		position: relative;
		left: 66.66%;
	}

}

* {
	box-sizing: border-box;
	margin:0;
	padding:0;
}

body {
	font-family:"Advent Pro", sans-serif;
	color: #202020;
}

h1 {
	margin-top:5px;
	margin-bottom: 15px;
	text-align: center;
	font-size:175%;
}

h2 {
	border: solid 1px #000000; 
	width: 33.33%;
	background-color: #AFEEEE;
	text-align: center;
	margin-bottom: 5px;
	font-size:125%;
}

p {
	font-family:"Roboto", sans-serif;
	color: #696969;
}

#left {
	background-color: #F8F8FF
}

#center {
	background-color: #F0FFFF
}

#right {
	background-color: #F5FFFA
}

section {
	float: left;
	border: solid 1px #000000;
	padding: 5px;
	margin: 10px;
	align-items: center;
}