@media (min-width:992px){
	section {
		width: 30%;
		height: 225px;
		position: relative;
		left: 2.5%;
	}

	h2 {
		width: 50%;
	}

}

@media (min-width:768px) and (max-width:991px){
	section {
		position: relative;
		left: 3%;
	}

	#title_left, #title_center {
		width: 50%;
	}

	#left, #center {
		width: 45%;
	}

	#right {
		width: 93.25%;
	}

}

@media (max-width:767px){
	section {
		width: 90%;
		position: relative;
		left: 3%;
	}

}

* {
	box-sizing: border-box;
	margin:0;
	padding:0;
}

body {
	font-family:"Advent Pro", sans-serif;
	color: #202020;
}

h1 {
	margin-top:15px;
	margin-bottom: 15px;
	text-align: center;
	font-size:175%;
}

h2 {
	padding: 5px;
	border: solid 1px #000000; 
	width: 33.3%;
	text-align: center;
	margin-bottom: 5px;
	font-size:125%;
	position: relative;
	bottom: 5.75px;
	left: 5.75px;
	float: right;
}

p {
	font-family:"Roboto", sans-serif;
	color: #696969;
	clear: right;
}

#title_left {
	background-color: #F8F8FF;
}

#title_center {
	background-color: #F0FFFF;
}

#title_right {
	background-color: #F5FFFA;
}

section {
	float: left;
	border: solid 1px #000000;
	padding: 5px;
	margin: 15px;
	align-items: center;
	background-color: #F5F5F5;
}